.deps
.dirstamp
.libs
*.l[ao]
*.[ao]
*~

/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/Makefile
/Makefile.in
/stamp-h1

/build/ar-lib
/build/compile
/build/config.guess
/build/config.sub
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/src/mm/dumper/dumper

/src/mm/gir/names/gen-names
/src/mm/gir/names/names.hh

/src/mm/gir/tools/lame-schema-gen/lame-schema-gen

/src/mm/main/main

/src/mm/test/test
