Makefile
Makefile.in
.deps
.dirstamp
.libs
*.l[ao]
*.o
*~
/aclocal.m4
/autom4te.cache
/build/config.guess
/build/config.sub
/build/depcomp
/build/install-sh
/build/libtool.m4
/build/ltmain.sh
/build/ltoptions.m4
/build/ltsugar.m4
/build/ltversion.m4
/build/lt~obsolete.m4
/build/missing
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/stamp-h1
